{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "targets": {
          "esmodules": true,
          "node": 10
        }
      }
    ]
  ]
}