{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "targets": {
          "esmodules": true,
          "node": 10
        }
      }
    ],
    ["@babel/typescript"]
  ],
  "plugins": [
    "@babel/plugin-transform-typescript",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
