{
  "parser": "@babel/eslint-parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "node": true
  }
}
